
<input 
(keyup.enter)="creatPost(title)" #title
type="text" class="form-control"
>




<h1>
  post informatins
</h1>
<ul class="list-group">
  <li 
    *ngFor="let item1 of postUser1"
    
  class="list-group-item">
 <!--- <button 
  (click)="updatePost(item1)"
  class="btn btn-default btn-warning"> update </button>-->
  <button 
  (click)="deletePost(item1)"
  class="btn btn-default btn-danger"> delete </button>
{{item1.userId}} ---{{item1.title}}
  </li>
</ul>

<h1> user information</h1>
<ul class="list-group">
    <li 
      *ngFor="let item of user"
      
    class="list-group-item">
   {{item.id}} --- {{item.login}} 
   ----{{item.avatar_url}} 
   ----{{item.bio}}
    </li>
</ul>
